<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapp">

    <!-- 四大金刚权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 相册权限在现代 Android 中可通过系统选择器免权调用，所以为了隐私极简，我们只申明相机 -->
    <!-- ⚠️ 已删除 SYSTEM_ALERT_WINDOW 悬浮窗权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KANE Face-to-Face"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAPP"> <!-- 🌟 修复：指向项目全局 Material3 主题，增强 UI 兼容性 -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- 强制竖屏 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 👇 刚刚粘贴进来的 UCrop 裁剪界面 👇 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- 👇 刚刚粘贴进来的 FileProvider 👇 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- ⚠️ 已删除 FloatingService 注册 -->
    </application>
</manifest>